.body{
  text-align: center;
  margin-top: 5px;
  padding:  5px;
  background-color: rgba(68, 83, 105, 0.61);
  border-radius: 10px;
  border: solid #fcf8f4 1px;

}
.lists{
  margin: 2px 0;
  padding: 0 5px;
  background-color: rgba(4, 22, 35, 0.78);
  border-radius: 10px;
}
app-button{
  margin: 20px;
}
.buttonClass{
  margin-top: 10px;
}
