@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';


body{
  display: flex;
  justify-content: center;
  background-color: #041623;

}
app-root{
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
}
